<div class="nested-fields">
  <div class="field">
    <%= f.label :Video_url %>
    <br/>
    <%= f.text_field :url %>
  </div>
  <%= link_to_remove_association "remove Video_url", f , class: "btn btn-danger pull-right"%>
</div>